<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a href="/"><li>TopCoins</li></a>
          <a href="/trending-today"><li>TrendingToday</li></a>
        </ul>
      </nav>
    </header>
    <main>
      <section id="search">
        <form action="/search" method="post">
          <input type="text" name="search" placeholder="Search for coins" />
          <button type="submit">search</button>
        </form>
      </section>
      <section id="coinsList">
        <div class="container">
          <div class="coinsDataType">
            <div id="id">#</div>
            <div id="name">Name</div>
            <div id="price">Price</div>
            <div id="price24h">24h</div>
            <div id="marketCap">Market Cap</div>
            <div id="volume">Volume</div>
          </div>
          <% for(let i=0;i < locals.data.length;i++){ %>
          <div class="coinsData">
            <div id="id"><%= data[i].market_cap_rank %></div>
            <div id="name">
              <img src="<%= data[i].image %>" alt="" /><%= data[i].name %>
            </div>
            <div id="price">$<%= data[i].current_price %></div>
            <div id="price24h"><%= data[i].price_change_percentage_24h %></div>
            <div id="marketCap"><%= data[i].market_cap %></div>
            <div id="volume"><%= data[i].total_volume %></div>
          </div>
          <% } %>
        </div>
      </section>
    </main>
    <script defer src="index.js"></script>
    <footer></footer>
  </body>
</html>
