<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
        <p><i class="fa-brands fa-connectdevelop fa-spin-pulse fa-lg"></i>Top100Coins</p>
    </header>
    <main>
      <section id="coinsList">
        <div class="container">
          <div class="coinsDataType">
            <div id="id">#</div>
            <div id="name">Name<span id="coinSymbol">Symbol</span></div>
            <div id="price">Price</div>
            <div id="price24h">24h%</div>
            <div id="marketCap">Market Cap</div>
            <div id="volume">Volume</div>
          </div>
          <% if (locals.data){ %>
            <% for(let i=0;i < locals.data.length;i++){ %>
            <div class="coinsData">
              <div id="id"><%= data[i].market_cap_rank %></div>
              <div id="name">
                <img src="<%= data[i].image %>" alt="" /><%= data[i].name %><span id="coinSymbol"><%= data[i].symbol.toUpperCase() %></span>
              </div>
              <div id="price">$<%= data[i].current_price.toLocaleString() %></div>
              <div id="price24h"><%= data[i].price_change_percentage_24h.toFixed(2) %>%</div>
              <div id="marketCap">$<%= data[i].market_cap.toLocaleString() %></div>
              <div id="volume">$<%= data[i].total_volume.toLocaleString() %></div>
            </div>
            <% } %>
          <% }else{ %>
            <div class="coinsData">
            <div id="id">-</div>
            <div id="name">-</div>
            <div id="price">-</div>
            <div id="price24h">-</div>
            <div id="marketCap">-</div>
            <div id="volume">-</div>
          <% } %>
        </div>
      </section>
    </main>
    <script src="https://kit.fontawesome.com/10f527342c.js" crossorigin="anonymous"></script>
    <script defer src="index.js"></script>
    <footer>
      <div class="about">
        <span>About</span>
        <p>I made this web for my exercise, to implement what i have been learn before. This website contains about the top 100 crypto coins, the data loaded from <a href="https://www.coingecko.com/" target="_blank">CoinGecko</a> open API.</p>
      </div>
      <hr>
      <div class="copyright">
        <p>Copyright © 2023 All Rights Reserved by <a href="https://radityarps.github.io/Raditya-PortofolioPage/" target="_blank">@radityarps</a>.</p>
      </div>
    </footer>
  </body>
</html>
